/****************************************************/
/******************* CUSTOM LINKS *******************/
/****************************************************/
a { color: black; }

a,
a:hover {
    text-decoration: none;
}

/****************************************************/
/******************* CUSTOM HEADER ******************/
/****************************************************/

.pictoHome { width: 50px; }

.fashionLogo { color: #66EB9A !important; }

/****************************************************/
/******************* CUSTOM CARDS *******************/
/****************************************************/

.pictoHeight { height: 25px; }

.imgHeight { height: 350px; }

.bigImgHeight { height: 350px; }

.cardBodyHeight { height: 120px; }